.header  {
  font-family: monospace;
  background: papayawhip;

  /*Flex options*/
  display:flex;
  justify-content: space-between;
  align-items:center;
  margin:0;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
  /* border: 1px solid black; */
  margin: 5px;
  border-radius:10%;
  
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  display: flex;
  /*border: 1px solid red;*/
  margin-left:0;
  padding-left:0;
  
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
  border-radius: 10%;
  
}
li{
  padding: 5px;
  /*border: 5px solid black;*/
  
    
}

.left-links{
 order:0
}
